@import './variables';

/*   */  
body {
  margin: $header-height 0 0 0;
  font-family: $body-font;
  font-size: $normal-font-size;
  background-color: $body-color;
  color: $text-color;
  line-height: 1.6;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}



/* SECTION STYLING  */  
.section {
  padding: 4rem 0 2rem;
  // background: $first-color;
}

.section-title, .section-subtitle {
  text-align: center;
}

.section-title {
  font-size: $h1-font-size;
  color: $title-color;
  margin-bottom: $mb-3;
}

.section-subtitle {
  display: block;
  color: $first-color;
  font-weight: $font-medium;
  margin-bottom: $mb-1;
}

/* LAYOUT  */  
.bd-container {
  max-width: 960px;
  width: calc(100% - 2rem);
  margin-left: $mb-2;
  margin-right: $mb-2;
}

.bd-grid {
  display: grid;
  gap: 1.5rem;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-fixed;
  background-color: $body-color;
}


/* NAVBAR  */  
.nav {
  max-width: 1024px;
  height: $header-height;
  display: flex;
  justify-content: space-between;
  // background: $first-color;
  align-items: center;
}

@media screen and (max-width: 768px){
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 1.5rem 0 1rem;
    text-align: center;
    background-color: $body-color;
    transition: 400ms ease-in;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .1);
    border-radius: 0 0 1rem 1rem;
    z-index: $z-fixed;
  }
}

.nav__item {
  margin-bottom: $mb-2;
}

.nav__link, .nav__logo, .nav__toggle {
  color: $text-color;
  font-weight: $font-medium;
}

.nav__logo {
  &:hover {
    color: $first-color;
  }
}

.nav__link {
  transition: 300ms ease-in-out;
  &:hover {
    color: $first-color;
  }
}

.nav__toggle {
  font-size: 1.3rem;
  cursor: pointer;
}

.show__menu {
  top: $header-height;
}

.active-link {
  color: $first-color;
}

.scroll-header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .3rem;
  background-color: rgba(6, 156, 84, .5);
  border-radius: .4rem;
  z-index: $z-tooltip;
  transition: opacity 300ms ease-in-out;
  opacity: 0;
  &:hover {
    background-color: $first-color-alt;
  }
}

.scrolltop__icon {
  font-size: 1.5rem;
  color: $body-color;
}

.scroll-top {
  opacity: 1;
}

/*   */  

/*   */  
/*   */  

/*   */  
/*   */  

/*   */  
/*   */  

/*   */  
/*   */  
